<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWSInterface"/>
        <binding name="BasicHttpBinding_IWSAdapter"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8585/RtTower.WebService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSInterface" contract="ReelTowerWebServiceReference.IWSInterface" name="BasicHttpBinding_IWSInterface"/>
    </client>
  </system.serviceModel>
</configuration>
