<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWSInterface" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8585/RtTower.WebService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSInterface"
                contract="ReelTowerWebServiceReference.IWSInterface" name="BasicHttpBinding_IWSInterface" />
        </client>
    </system.serviceModel>
</configuration>